<div id="<%= dom_id live_stream %>">
  <p>
    <strong>Title:</strong>
    <%= live_stream.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= live_stream.start_time %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= live_stream.start_date %>
  </p>

  <p>
    <strong>Live stream product:</strong>
    <%= live_stream.live_stream_product %>
  </p>

</div>
